<!DOCTYPE html>
<html>
<head>
	<title>Signin and Signup Page</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
  <div ng-init="myVar = 'icon1.jpg'">
  	<center>
  	<img ng-src="{{myVar}}" ng-style="myobj">
  	<br><br><br><br><br>
  	<input type="text" ng-model="project" ng-style="formcss" style="border-radius:30px;padding-left:33px;font-size:20px;" placeholder="Project Name" required>
  	<br><br>
     <input type="text" ng-model="file" ng-style="filecss" placeholder="Choose File" style="padding-left:20px;"><span style="margin-left:10px;font-size:20px;font-color:grey;">No File Chosen</span>
     <br><br><br>
  	<button type="button" class="btn btn-danger" ng-style="buttoncss" ng-click="myfunc()" style="border-radius: 30px;font-size:20px;">Submit</button>
  	</center>
  </div>
  <script>
  	var app=angular.module("myapp",[]);
  	app.controller("myctrl",function($scope){
        $scope.myobj={
        	"height":"10%",
			"width":"10%",
			"margin-top":"2%"
        }
        
        $scope.formcss={
        	"width":"280px",
        	"height":"58px",
        	"border":"1px solid grey"
        }

        $scope.filecss={
        	"margin-left":"15px",
        	"width":"120px",
        	"height":"35px"
        }

        $scope.buttoncss={
        	"width":"180px",
        	 "height":"55px"
        }
  	});
  </script>
</body>
</html>